// Override this file to add your own SCSS styling.

.home .page-content img {
  width: 80%;
  max-width: 24rem;
  height: auto;
}

@media screen and (min-width: 60em) {
  .home .page-content img {
    width: 100%;
    max-width: 28rem;
  }
}
